# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
start_atlas_server/start_atlas_server
start_atlas_server/gin_log.log
start_atlas_server/go.sum
star_atlas_server/star_atlas_server

__pycache__
asrt-sdk-go
