# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
star_atlas_server/gin_log.log
star_atlas_server/go.sum
star_atlas_server/star_atlas_server
star_atlas_server/go.mod
star_atlas_server/go.sum

__pycache__
asrt-sdk-go
.DS_Store
speech_recognition/sr_client/testData/record.wav
go.mod
go.sum
main
main.exe
.idea/
.vscode/
star_atlas_server/utest
client/bin/utest
star_atlas_server/trans
star_atlas_server/conf
client/bin/trans
node_modules/
frontend/package-lock.json
frontend/*.tar
frontend/*.zip
star_atlas_server/log/*
