@font-face {
  font-family: "iconfont"; /* Project id 3514577 */
  src: url('iconfont.woff2?t=1657532443011') format('woff2'),
       url('iconfont.woff?t=1657532443011') format('woff'),
       url('iconfont.ttf?t=1657532443011') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jichuguanli:before {
  content: "\eb63";
}

.icon-jisuan:before {
  content: "\e869";
}

.icon-tiaoduguanli_1:before {
  content: "\e7c7";
}

